<!DOCTYPE html>
<html>

<head>
    <title>Blank Page for Rich Text Editing</title>
</head>

<body>
    <table>
        <tbody>
            <tr ng-repeat-start="item in items">
                <td>this is item {{$index + 1}}</td>
            </tr>
            <tr>
                <td>The action is : {{item.action}}</td>
            </tr>
            <tr ng-repeat-end>
                <td>Item {{$index +1}} is {{$item.complete ? '' : 'not'}} complete</td>
            </tr>
        </tbody>
    </table>
    <div ng-switch on="item.key">
        <span ng-switch-when="one">one</span>
        <span ng-switch-default>default</span>
    </div>
    <select ng-model='uiModel.selected' ng-options="item.value for item in items">
        
    </select>
    <select ng-model='uiModel.selected' ng-options="item.key as item.value for item in items">
        
    </select>
    <select ng-model='uiModel.selected' ng-options="item.value group by item.type for item in items">
        
    </select>
    <li ng-repeat="item in items | limitTo:5/limitVal">item.value</li>
    <input type="text" ng-model="dangerousData"/>
    <p ng-bind-html="htmlData"></p>
</body>

</html>